#setup button {
    width: 100px;
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
}

#led-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
}

.animation-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.led-section-container {
    background-origin: padding-box;
    margin-left: 100px;
}

.led-container {
    position: relative;
    margin-top: 25px;
    margin-bottom: 40px;
}

.led {
    background-color: #000;
    width: 7px;
    height: 7px;
    margin-left: 1px;
    user-select: none;
}

#strip-container 
{
    display: flex;
    flex-direction: row;
}

.led.small {
    width: 5px;
    height: 5px;
}

.led.big {
    width: 40px;
    height: 40px;
}

.led.key {
    position: absolute;
    padding:2px;
    border: solid 1px #000;
    margin:5px;
    font-size: 5pt;
    color: white;
    outline: solid 1px;
}

.led.keyboard.key {
    outline: none;
}

.led.selected {
    transform: translateY(-2px);
}

.led.key.selected {
    transform: none;
    outline: #ff00f5 solid 4px;
    z-index: 200;
}

.led.border {
    box-shadow: inset 0 0 0 1px #000;
}

#color {
    margin-top: 50px;
    margin-bottom: 20px;
}

.final-section {
    margin-top: 50px;
}
.final-section + .final-section {
    margin-top: 10px;
}
.final-section input,
.final-section textarea {
    width: 100%;
    max-width: 800px;
}
.final-section textarea {
    resize: none;
    height: 200px;
}

.pre-defined-setup {
    margin-top: 5px;
}

/*  Start of navigation Code */
.topnav {
    background-color: none;
    overflow: hidden;
    border-radius: 2px;
}

.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 14px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
/* End of Navagation Code */
